:root {
  --main-color: #bd4721;
  --sec-color: #bc7649;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.button {
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: fit-content;
  border: none;
  /* box-shadow: 0px 12px 40px -12px var(--main-color); */
}

/* navBar  */

.navBar {
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(30px);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.65); */
  border-bottom: 1px solid var(--main-color);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35);
  color: aliceblue;
  padding: 5px 0 5px 0;
  z-index: 10;
}

.navBar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.navBar .logo {
  width: 10rem;
}
.navBar .logo img {
  width: 100%;
}
.navBar .sections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 18px;
  padding: 0 0 0 25px;
}
.navBar .sections .section {
  cursor: pointer;
  position: relative;
  user-select: none;
  color: #fff;
}
/* .navBar .sections .section a{
  color: #fff;
  text-decoration: none;
} */

.navBar .sections .section::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2.5px;
  width: 0%;
  background-color: var(--main-color);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.navBar .sections .section:hover {
  color: var(--main-color);
}
.navBar .sections .section:hover::after {
  width: 100%;
}

.navBar .container .toggle-icon {
  display: none;
  cursor: pointer;
}
.navBar .container .toggle-icon:hover {
  color: var(--main-color);
}
.toggle-layer {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.9;
  height: 100vh;
  z-index: 11;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  width: 0;
  opacity: 0;
  display: flex;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.toggle-layer a {
  color: #fff;
  text-decoration: none;
}
.toggle-layer a:hover {
  color: var(--main-color);
  scale: 1.1;
}
.toggle-layer a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2.5px;
  width: 0%;
  background-color: var(--main-color);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.toggle-layer a:hover::after {
  width: 100%;
}
.toggle-layer .x-icon {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.toggle-layer .x-icon:hover {
  scale: 1.1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  color: var(--main-color);
}

@media screen and (max-width: 720px) {
  .navBar .container {
    width: 95%;
  }
}
@media screen and (max-width: 620px) {
  .navBar .container .sections {
    display: none;
  }
  .navBar .container .toggle-icon {
    display: flex;
    font-size: 2rem;
  }
  .navBar .container {
    width: 80%;
  }
}

/* intro home  */

.intro-home {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.intro-home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-home .intro-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 2;
}
.intro-home .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d; /* Ensures 3D transformations are preserved */
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 3;
  flex-direction: column;
}
.intro-home .intro-text h1 {
  font-size: 3rem;
  text-align: center;
}
.intro-home .intro-text h2 {
  font-size: 2rem;
  background-color: var(--main-color);
  padding: 5px 15px;
  margin-top: 10px;
}

@media screen and (max-width: 860px) {
  .intro-home .intro-text h1 {
    line-height: 4rem;
  }
  .intro-home .intro-text h2 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 560px) {
  .intro-home .intro-text h1 {
    font-size: 8vw;
    line-height: 10vw;
  }
  .intro-home .intro-text h2 {
    font-size: 5vw;
  }
}

/* about section  */

.about-us {
  width: 95vw;
  padding: 2rem 1rem;
  background-color: #f4f4f6;
  margin: 2rem auto;
}

.about-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* width: 90%; */
}

.about-us .container .about-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
  width: 50%;
}
.about-us .container .about-text .welcome {
  font-size: 34px;
  color: var(--main-color);
  font-weight: 100;
  letter-spacing: -1px;
}
.about-us .container .about-text h2 {
  font-size: 34px;
  color: #000;
  font-weight: bold;
  letter-spacing: -1px;
}
.about-us .container .about-text .content {
  font-size: 14px;
  color: #444444;
}
.about-us .container .about-text .button {
  align-self: center;
}
.about-us .container .about-img {
  width: 50vw;
}
.about-us .container .about-img img {
  width: 100%;
}

@media screen and (max-width: 660px) {
  .about-us .container .about-img {
    width: 80vw;
  }
  .about-us .container .about-text {
    width: 95%;
  }
  .about-us .container {
    flex-direction: column;
  }
}

/* booking  */

.book {
  width: 100vw;
}
.book .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.book .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book .container .text p {
  color: var(--main-color);
  font-weight: 600;
}

.book .container .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.book .container .cards .card {
  width: 100%;
  user-select: none;
  position: relative;
}

.book .container .cards .card:hover .face2 {
  scale: 1;
}
.book .container .cards .card .face1 {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.book .container .cards .latest .face1 {
  background-color: #e3e3e3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book .container .cards .latest .face1 img {
  width: 70% !important;
}
.book .container .cards .card .face2 {
  /*display: none;
  */
  position: absolute;
  top: 0;
  right: 0;
  scale: 0;
  height: 100%;
  width: 100%;
  background-color: #f4f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.book .container .cards .card .face2 .title {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  align-self: center;
}
.book .container .cards .card .face2 .content {
  font-size: 18px;
  color: #444444;
  align-self: center;
  /* white-space: normal; */
  width: 85%;
  text-align: center;
}
.book .container .cards .card .face1 img {
  width: 100%;
}

@media screen and (max-width: 1260px) {
  .book .container .cards .card .face2 {
    gap: 5px;
  }
  .book .container .cards .card .face2 .content {
    font-size: 15px;
  }
}
@media screen and (max-width: 1060px) {
  .book .container .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 760px) {
  .book .container .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .book .container .cards .latest {
    height: 14rem;
  }
  .book .container {
    width: 70%;
  }
}

/* booking form  */

.booking-form {
  width: 100vw;
  margin: 5rem 0;
}

.booking-form .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.booking-form .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.booking-form .container form .bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 2rem;
}
.booking-form .container form .bar .label {
  position: absolute;
  right: 2px;
  top: -45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #444444;
  font-size: 14px;
}
.booking-form .container form .bar .label i {
  color: var(--main-color);
}
.booking-form .container form .bar .label span {
  color: red;
  font-size: 20px;
}
.booking-form .container form .bar input {
  width: 50%;
  line-height: 1.5;
  font-size: 20px;
  border: 1px solid #e3e3e3;
  padding: 2px 8px;
  border-radius: 10px;
  position: relative;
}
.booking-form .container form .bar2 .contact-ways {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 2rem;
}
.booking-form .container form .bar2 .contact-ways .label {
  position: absolute;
  top: -45px;
  right: 0;
}

.booking-form .container form .bar2 .contact-ways .child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.booking-form .container form .bar3 .services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}
.booking-form .container form .bar3 .services .child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.booking-form .container form .bar3 input {
  width: 15%;
  line-height: 1.5;
  font-size: 20px;
  border: 1px solid #e3e3e3;
  padding: 2px 8px;
  border-radius: 10px;
  position: relative;
}
.booking-form .container form .bar4 select {
  width: 50%;
  line-height: 1.5;
  font-size: 20px;
  border: 1px solid #e3e3e3;
  padding: 6px 8px;
  border-radius: 10px;
}
.booking-form .container form .button {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  /*padding: 5px 0;
 */
  align-self: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 620px) {
  .booking-form .container form .bar2 {
    width: 100%;
    flex-direction: column;
    gap: 4rem;
  }
  .booking-form .container form .bar2 input {
    width: 100%;
  }
  .booking-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px 0 0;
  }
  .booking-form .container form .bar3 .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* advertise one  */

.advertise1 {
  width: 100vw;
  height: 120vh;
  align-items: flex-start;
}
.advertise1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}
.advertise1 .container .backimg {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}
.advertise1 .container .backimg img {
  width: 100%;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
}
.advertise1 .container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  -webkit-transform: translate(-50%, 30%);
  -moz-transform: translate(-50%, 30%);
  -ms-transform: translate(-50%, 30%);
  -o-transform: translate(-50%, 30%);
}
.advertise1 .container .text h2 {
  color: #fff;
  font-size: 30px;
}
.advertise1 .container .car-img {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  -webkit-transform: translate(-50%, 25%);
  -moz-transform: translate(-50%, 25%);
  -ms-transform: translate(-50%, 25%);
  -o-transform: translate(-50%, 25%);
}
.advertise1 .container .car-img img {
  width: 100%;
}
.adver1-content {
  text-align: center;
}

@media screen and (min-width: 1300px) {
  .advertise1 {
    height: 125vh;
  }
}
@media screen and (max-width: 1299px) {
  .advertise1 {
    max-height: 90vh;
  }
}
@media screen and (max-width: 800px) {
  .advertise1 {
    max-height: 70vh;
  }
}

@media screen and (max-width: 560px) {
  .advertise1 .container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    -webkit-transform: translate(-50%, 15%);
    -moz-transform: translate(-50%, 15%);
    -ms-transform: translate(-50%, 15%);
    -o-transform: translate(-50%, 15%);
    width: 100%;
    text-align: center;
  }
}

/* copy right  */

.copy-right {
  width: 100vw;
  background-color: var(--main-color);
}

.copy-right .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}
.copy-right .container .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.copy-right .container .icons a {
  color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.copy-right .container .icons a:hover {
  scale: 1.1;
}
.copy-right .container .icons i {
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .copy-right .container {
    font-size: 14px;
  }
}
@media screen and (max-width: 580px) {
  .copy-right .container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .copy-right {
    padding: 10px 0;
  }
}

/* scroll bar  */

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 18px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 3px solid #f1f1f1;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}



/* gsap text  */

.gsap-text{
  width: 100vw;
  /* height: 50vh; */
  background-color: var(--main-color);
  padding-left: 1rem;
  user-select: none;
}
.gsap-text p {
color: #fff;
font-size: 25vw;
text-transform: uppercase;
white-space: noWrap;

}



/* gsap text  */

.gsap-text{
  width: 100vw;
  height: 50vh;
  user-select: none;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  direction: ltr;
}
.gsap-text p {
  width: 100%;
  white-space: nowrap;
  font-size: 20vw;
  color: #fff;

}